# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Build output
dist/
build/
out/
coverage/

# Environment files
.env
.env.local
.env.production
.env.development

# Python virtualenv & cache
venv/
__pycache__/
*.py[cod]
*.so

# Node
node_modules/

# Editor
.vscode/
.idea/

# System
.DS_Store
Thumbs.db

# Test videos/screenshots
cypress/videos/
cypress/screenshots/

# Others
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.tsbuildinfo
